.order__item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 3px solid #009688;
    box-shadow: 0 2px 3px 1px rgba(0, 137, 123, 0.5);
    transform: scale(0);
    animation: orderShow 0.8s forwards;
    border-radius: 10px;
    margin-bottom: 10px;
}

.order__txt {
    width: 23%;
}

.order__del-btn {
    font-size: 25px;
    background: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
    padding: 10px;
    transition: 0.5s;
}

.order__del-btn:hover {
    background: #b2dfdb;
    color: #263238;
}

@keyframes orderShow {
    100% {
        transform: scale(1);
    }
}